/**
 * MagicPureGrayOutput
 * @author ZXLee
 * @github https://github.com/SmileZXLee/MagicPureGrayOutput
 */

body,html{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.main{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.progress{
	width: 100%;
	height: 3px;
	z-index: 1;
}
.progress-value{
	height: 100%;
	background-color: skyblue;
}

.mode-change-empty{
	position: fixed;
	right: 20px;
	top: 80px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 15px;
	border: #FCB12A solid 1px;
	color: #FCB12A;
	
}

.mode-change-full{
	position: fixed;
	right: 20px;
	top: 80px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 15px;
	background: #FCB12A;
	color: white;
}

.composeClass{
	position: fixed;
	right: 20px;
	top: 140px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 15px;
	background: deepskyblue;
	color: white;
}

.select-input{
	position: fixed;
	width: 100%;
	color: white;
	background-color: #FCB12A;
	height: 60px;
	text-align: center;
	top: 0px;
	line-height: 60px;
	font-size: 1.2rem;
}
input{
	width: 100%;
	height: 60px;
	opacity: 0;
	position: fixed;
}

.canvas-container{
	margin-top: 60px;
	display: none;
}

.save-btn{
	position: fixed;
	width: 100%;
	color: white;
	background-color: #FCB12A;
	height: 60px;
	text-align: center;
	bottom: 0px;
	line-height: 60px;
	font-size: 1.2rem;
}

#show-container-id{
	margin-top: 60px;
	background-repeat: no-repeat;
	max-height: calc(100% - 120px);
	max-width: 100%;
	margin: auto;
}

.copyright-container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

@media only screen and (min-width: 320px) {
	html,body {
		font-size: 65.55% !important;
	}
}
@media only screen and (min-width: 360px) {
	html,body {
		font-size: 72.5% !important;
	}
}
@media only screen and (min-width: 375px) {
	html,body {
		font-size: 80.1041% !important;
	}
}
@media only screen and (min-width: 414px) {
	html,body {
		font-size: 71.875% !important;
	}
}
@media only screen and (min-width: 768px) {
	html,body {
		font-size: 100.3333% !important;
	}
}
@media only screen and (min-width: 1024px) {
	html,body {
		font-size: 125% !important;
	}
}