<!--
/**
 * MagicPureGrayOutput
 * @author ZXLee
 * @github https://github.com/SmileZXLee/MagicPureGrayOutput
 *-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<title>MagicPureGrayOutput</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
	</head>
	<body>
		<div class="main" :style="{background: mainBacColor}">
			<div class="select-input">
				选取图片
			</div>
			<input type="file" accept="image/*" @change="inputChange($event)" value="" ref="uploadData"/>
			<div class="progress"><div class="progress-value" :style="{width: progressValue}"></div></div>
			<div class="canvas-container">
				<canvas id="main-canvas"></canvas>
			</div>
			<div class="copyright-container">
				<img src="" alt="" id="show-container-id" v-if="showContainer">
				<div class="copyright" v-if="showCopyright">
					<div style="font-weight: 200;color: #FCB12A;font-size: 2.125rem;text-align: center;">MagicPureGrayOutput</div>
					<div style="font-weight: 200;color: #FCB12A;font-size: 1rem;text-align: center;" @click="toGithub">Visit Github</div>
				</div>
			</div>
			<div :class="modeClass" @click="changeModeClick">{{modeText}}</div>
			<div class="composeClass" @click="composeClick">合成</div>
			<div class="save-btn" @click="saveClick">{{saveBtnText}}</div>
		</div>
	</body>
	<script src="js/vue.min.js"></script>
	<script src="js/output.js"></script>
</html>
